<!-- <app-employee></app-employee>

<app-department></app-department> -->


<div>
    <ul class="nav">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="''">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'Employee'">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'Department'">Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'Student'">Student</a>
        </li>
        
      </ul>
      </div>
      <div class="container">
    <router-outlet></router-outlet>
        </div>



